################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.lock
/Cerc1_WinForms/.vs/Cerc1_WinForms/v16/Server/sqlite3/storage.ide
/Cerc1_WinForms/.vs/Cerc1_WinForms/v16/Server/sqlite3/storage.ide-shm
/Cerc1_WinForms/.vs/Cerc1_WinForms/v16/.suo
/Cerc1_WinForms/.vs/Cerc1_WinForms/v16/Server/sqlite3/storage.ide-wal
