################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Casier/.vs/Casier/v16/Server/sqlite3/db.lock
/Cerc1_WinForms/.vs/Cerc1_WinForms/v16/Server/sqlite3/db.lock
/Cerc1_WinForms/.vs/
